body
{
    background-color:  #f4f4f4;
}

.titre
{
    color: #f0a500;
    text-align: center
}

table tr
{
    border-radius: 30px 10px;
}


table, td, th
{
    border: solid #f0a500;
    border-collapse: collapse;
    padding: 10px;
    width: 30px;


}

td
{
    text-align: center;
}