body
{
    background-color: #a6f6f1;
}

form
{
    text-align: center;
}
p
{
    text-align: center;
    font-family: "Arial Narrow";
    color: #ff9642;
}

.email
{
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #213e3b;
    border-radius: 4px;

}

.password
{
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #213e3b;
    border-radius: 4px;
}

.send
{
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #41aea9;
    border-radius: 4px;
}


